@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#recent-post {
  .post-title {
    a {
      color: #212631;
    }
    a:hover {
      color: #7e8f9e;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .post-title:hover {
    overflow: visible;
    white-space: pre-line;
    width: 10hw;
  }
  .post-img {
    max-height: 175px;
    overflow: hidden;
  }
}

#nav-fixed {
  background: linear-gradient(to left, #ffe6e6 0%, #ffffff 107%);
}

.nav-btns .search-form .search-input {
  background: #ffebdf;
}

#nav-aside {
  background: linear-gradient(to right, #33ccff -25%, #ff99cc 100%);
}

body{
  background: linear-gradient(to left, #ffffff -10%, #ffe5e5 160%);
}

#post-widget {
  .post-title {
    a {
      color: #ffffff;
    }
    a:hover {
      color: #000000;
    }
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

a{
  font-weight: 500;
}
