@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#recent-post {
  .post-title {
    a {
      color: #212631;
    }
    a:hover {
      color: #7e8f9e;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .post-title:hover {
    overflow: visible;
    white-space: pre-line;
    width: 10hw;
  }
  .post-img {
    max-height: 175px;
    overflow: hidden;
    border-radius: 9px;
  }
}

#nav-fixed {
  background: linear-gradient(to left, #ffe6e6 0%, #ffffff 107%);
}

.nav-btns .search-form .search-input {
  background: #ffebdf;
}

#nav-aside {
  background: linear-gradient(to right, #44a08d, #093637);
}

body{
  background: linear-gradient(to left, #ffeeee, #ddefbb);
}

#post-widget {
  .post-title {
    a {
      color: #ffffff;
    }
    a:hover {
      color: #000000;
    }
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

a{
  font-weight: 500;
}

#big-post {
  img {
    border-radius: 9px;
  }
  .post-img {
    max-height: 250px;
    overflow: hidden;
  }
  padding-left: 0px;
  padding-right: 0px;
}

#small-posts {
  .post-title {
    margin-top: 0px;
  }
  .post-img {
    border-radius: 9px;
  }
}